.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  
  }
  
  /* Remove default link styling */
  .App .text-center a {
    color: inherit;       /* Ensures link takes on the parent color */
    text-decoration: none; /* Removes underline */
    position: relative; /* Required for positioning pseudo-element */
  }
  
  /* Add pseudo-element underline on hover */
  /* Add pseudo-element underline on hover */
  .App .text-center a:hover::before {
    content: ""; /* This is essential for the pseudo-element to show */
    position: absolute;
    left: -22.5px; /* Centering the underline */
    width: 90%; /* Shortening the length of the underline */
    bottom: -0.1in; /* Adjusted position of the underline */
    height: 2px; /* Bolder underline */
    background-color: black; /* Takes the color of the parent element */
  }
  .App .text-center .jobs a:hover::before {
    content: ""; /* This is essential for the pseudo-element to show */
    position: absolute;
    left: -27.5px; /* Centering the underline */
    width: 50%; /* Shortening the length of the underline */
    bottom: -0.1in; /* Adjusted position of the underline */
    height: 2px; /* Bolder underline */
    background-color: black; /* Takes the color of the parent element */
  }
  
  .App-link.hover-active::before {
    content: ""; /* This is essential for the pseudo-element to show */
    position: absolute;
    left: -22.5px; /* Centering the underline */
    width: 90%; /* Shortening the length of the underline */
    bottom: -0.1in; /* Adjusted position of the underline */
    height: 2px; /* Bolder underline */
    background-color: black; /* Takes the color of the parent element */
  }

  
  
  
  
  
  
  